<h1>Информация о нас</h1>
<ul>
    <li>Наш телефон: {{ phone }}</li>
    <li>Наш адрес: {{ address }}</li>
    <li>Рабочие часы: 09:00 - 18:00 (Местное время {{ 'now'|date('H:i', 'Europe/Moscow') }})</li>
</ul>
