<header>
    Header
</header>
<main class="error">
    <div>
        <div class="title">{{ error_name }}</div>
        <div class="message">{{ error_message }}</div>
        <a class="link" href="/">На главную</a>
    </div>
</main>
<footer>
    Footer
</footer>
