<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
    {% include 'layouts/site-header.twig' %}
    <nav>
        <a href="/">Главная</a>
        <a href="/user">Пользователи</a>
        <a href="/about">О нас</a>
    </nav>
        {% include content_template_name %}
    </body>
</html>
