<div id="error">
    <div class="title">{{ error_name }}</div>
    <div class="message">{{ error_message }}</div>
    <div class="links">
        <a href="/">Вернуться на главную</a>
    </div>
</div>
